.row-red {
    background-color: #f08080; /* Color para filas con Hora Salida antes de las 12 */
}

.row-yellow {
    background-color: rgb(220, 223, 79); /* Color para filas con Hora Salida a partir de las 12 */
}
.row-orange {
    background-color: rgb(224, 170, 69); /* Color para filas con Hora Salida a partir de las 12 */
}

